# Copy this file to .env and fill in your actual values
# DO NOT commit your actual .env file to git!

###MONGODB_URL="mongodb://localhost:27017"
#DATABASE_NAME="bmm_admin_db"

#PREVIOUS_MONGODB_URL="mongodb://localhost:27017"
#PREVIOUS_DATABASE_NAME="your_old_database_name


MONGODB_URL="mongodb+srv://chanduchelliboyina3_db_user:TQAgn6iQQf7GfHrb@cluster0.ena8z6v.mongodb.net"


# The name of the database to use
DATABASE_NAME="admin"

# --- PREVIOUS EMPLOYEE DATABASE ---
# Paste your old employee database URL here:
PREVIOUS_MONGODB_URL="mongodb+srv://chanduchelliboyina3_db_user:wWp8HDSftQ3ZmGhT@cluster0.owpohu3.mongodb.net"
PREVIOUS_DATABASE_NAME="bmm_database"


SMTP_SENDER_EMAIL="your_email@gmail.com"
SMTP_SENDER_PASSWORD="your_16_character_app_password"
